/* LANGUAGE ICONS */
.codeLang1 {
    width: 100vw;
    max-width: 100%;
    background-color: rgba(228, 228, 228, 0.5);
    box-shadow: 0px -10px 3px -3px #0000003d;
    backdrop-filter: blur(10px);
}

.codeLang {
    height: 100px;
    text-align: center;


    img {
        margin: 20px 10px;
        height: 60px;
    }
}

/* ABOUT ME SECTION */
#aboutme {
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $bgcExtraLight;
    box-shadow: inset 0px 10px 10px -3px #0000003d;


    img {
        height: 250px;
        width: 250px;
        border-radius: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
    }

    h2 {
        text-align: center;
        font-weight: 300;
    }

    p {
        margin: 20px 130px;
        text-align: center;
        font-weight: 200;
    }

    a {
        display: block;
        text-align: center;
        height: 50px;
        width: 200px;
        font-size: $fontSize;
        text-decoration: none;
        background-color: $bgcDark;
        margin: 50px auto;
        font-family: $fontf;
        line-height: 2.5;
        border-radius: 20px;
        color: white;

        &:hover {
            background-color: cyan;
            color: black;
        }
    }
}

/* PROJECT GALLERY SECTION */
#workGallery {
    padding-top: 40px;
    padding-bottom: 150px;
    background-color: $bgcExtraLight;

    p {
        margin: 20px 230px;
        text-align: center;
        color: black;
        font-weight: 200;
    }

    h2 {
        text-align: center;
        color: black;
        font-weight: 300;
    }

    .galleryFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .galleryItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 390px;
        height: auto;
        margin: 20px;
        background-color: white;
        box-shadow: 0px 5px 20px 3px #00000030;
        border-radius: 15px;

        img {
            width: 390px;
            height: 224px;
            display: block;
            border-radius: 15px 15px 0px 0px;
        }

        h3 {
            margin: 37px auto;
            font-size: 1.6rem;
            font-family: $fontf;
            text-align: center;
            font-weight: 400;
        }

        p {
            text-align: center;
            margin: 0 auto;
            padding: 0 20px;
            color: black;
        }

        .lilicons {
            margin-top: 25px;
            display: flex;
        }

        img[class="icons2"] {
            height: 25px;
            width: 25px;
        }

        a {
            display: block;
            text-align: center;
            height: 50px;
            width: 200px;
            font-size: $fontSize;
            text-decoration: none;
            background-color: $bgcDark;
            margin-top: 25px;
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
            font-family: $fontf;
            line-height: 2.5;
            border-radius: 20px;
            color: white;
            box-shadow: 0 2px 5px 2px rgba(1, 25, 41, 0.377);

            &:hover {
                background-color: cyan;
                color: black;
            }
        }
    }
}


/* CONTACT ME SECTION */
.contact {
    width: 100vw;
    max-width: 100%;
    background-image: url(../images/abstractC.png);
    background-size: cover;
    box-shadow: inset 0px 10px 10px -3px #0000003d;
}

#contact {
    padding-top: 160px;
    padding-bottom: 160px;

    p,
    label,
    textarea {
        font-size: $fontSize;
        font-family: $fontf;
    }
}

form {
    label {
        display: block;
        text-align: left;
        width: 400px;
        margin-top: 10px;
    }

    input {
        border: 0;
        display: block;
        width: 400px;
        height: 40px;
        border-bottom: 3px solid rgb(0, 145, 145);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.356);
        font-size: $fontSize;
        padding-left: 10px;
    }

    textarea {
        border: 0;
        width: 400px;
        height: 180px;
        resize: none;
        border-bottom: 3px solid rgb(0, 145, 145);
        border-radius: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.356);
        padding-left: 10px;
        padding-top: 5px;
    }

    input[type=submit] {
        display: block;
        background-color: $bgcDark;
        padding: 0px 15px;
        border-radius: 8px;
        margin: 25px auto;
        width: 400px;
        height: 55px;
        font-size: $fontSize;
        font-family: $fontf;
        border: 0;
        color: black;
        box-shadow: 0 2px 2px 2px rgba(1, 25, 41, 0.377);
        cursor: pointer;

        &:hover {
            background-color: cyan;
            color: black;
        }
    }
}

.contactPanel {
    border-radius: 15px;
    background-color: rgba(23, 100, 87, 0.226);
    border: 5px solid rgba(4, 81, 197, 0.349);
    backdrop-filter: blur(10px);
    width: 600px;
    margin-left: 5%;

    h2,
    p {
        width: 70%;
        text-align: center;
        margin: 20px auto;
    }

    h2 {
        font-weight: 300;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}