/* HERO SECTION */
section {
    height: 600px;
    background-color: rgb(34, 34, 34);
    background-image: url(../images/abstractB.png);
    background-size: cover;

    h1 {
        font-size: $bigTitleSize;
        text-align: center;
        padding-top: 110px;
        color: black;
        font-weight: 400;
    }

    p {
        margin: 20px 250px;
        text-align: center;
        color: black;
        font-weight: 600;
        text-shadow: 1px 1px 5px white;
    }
}


/* ANIMATION */
.container2 {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 40px;
    box-shadow: 0 0 0 10px #8235ff44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 7s linear infinite;
    animation-duration: calc(300s / var(--i));
}

.bubbles span:nth-child(even) {
    box-shadow: 0 0 0 10px #2bd8ff44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}