/* HERO SECTION */
section {
    height: 600px;
    background-color: rgb(34, 34, 34);
    background-image: url(../images/abstractB.png);
    background-size: cover;
    max-width: 100%;

    h1 {
        font-size: $bigTitleSize;
        text-align: center;
        padding-top: 110px;
        color: black;
        font-weight: 400;
    }

    p {
        margin: 20px 20px;
        text-align: center;
        color: black;
        font-weight: 600;
        text-shadow: 1px 1px 5px white;
    }

    .flexContainer {
        display: flex;
        justify-content: center;
        width: 550px;
        margin: 0 auto;
    }

    a {
        display: block;
        text-align: center;
        height: 50px;
        width: 250px;
        font-size: $fontSize;
        text-decoration: none;
        background-color: $bgcDark;
        margin: 50px auto;
        font-family: $fontf;
        line-height: 2.5;
        border-radius: 20px;
        color: white;
        box-shadow: 0px 0px 2px 2px #0000003d;

        &:hover {
            background-color: cyan;
            color: black;
        }
    }
}


/* ANIMATION */
.container2 {
    position: relative;
    /* overflow: hidden; */
    height: 500px;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 40px;
    box-shadow: 0 0 0 10px #8235ff44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 7s linear infinite;
    animation-duration: calc(300s / var(--i));
}

.bubbles span:nth-child(even) {
    box-shadow: 0 0 0 10px #2bd8ff44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}