@media (max-width:992px) {
    #mainProjectImg {
        height: fit-content;
        padding: 50px 0;

        img {
            width: 90vw;
            height: auto;
        }
    }
}

/* Tablet */
@media (max-width:768px) {
    .container {
        width: 100vw;
        max-width: 100%;
    }

    .textP {
        margin: 20px 35px;
    }

    header {
        nav {
            padding: 0px 0;

            img {
                margin: 7px;
            }

            ul {
                li {
                    a {
                        line-height: 2.2;
                    }
                }
            }
        }
    }

    #projectPageHome {
        width: 100vw;
        max-width: 100%;
    }

    #mainProjectImg {
        height: fit-content;
        padding: 50px 0;

        img {
            width: 90vw;
            height: auto;
        }
    }
}


/* Mobile */
@media (max-width:576px) {

    /* NAV BAR */
    .container {
        width: 100vw;
        max-width: 100%;
    }

    nav {
        height: 60px;
        position: fixed;
        border-top: 0;
    }

    #navButton {
        cursor: pointer;
    }

    #navToggle,
    #siteNav {
        display: none;
    }

    #navToggle:checked+#siteNav {
        display: block;
        padding-top: 60px;
    }

    #navButton {
        position: fixed;
        display: inline-block;
        font-size: 40px;
        margin-left: 15px;
        padding: 0;
        z-index: 5;
        color: white;
    }

    nav,
    nav ul li {
        width: 100vw;
        max-width: 100%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.329);
        clear: both;
        border-bottom: 1px solid white;
    }

    nav ul {
        display: none;
    }

    nav img {
        display: none;
    }


    /* HERO SECTION */
    section {
        background-position-x: center;
    }

    .container2 {
        height: fit-content;
    }

    .container2>h1 {
        text-shadow: 2px 2px 5px rgb(255, 255, 255);
    }

    .textP {
        font-weight: 500;
        margin: 10px 15px;
        text-align: justify;
    }


    /* Coding Languages Icons */
    .codeLang>img {
        margin: 20px 0px;
        height: 60px;
    }


    /* Project Display Section */
    section {
        height: fit-content;

        p {
            margin: 10px 15px;
            text-align: justify;
        }

        .flexContainer {
            width: 90vw;
            flex-direction: column;


            a {
                margin: 10px auto;
            }
        }
    }

    /* Project Display */
    #mainProjectImg {
        height: fit-content;
        padding: 50px 0;

        img {
            width: 90vw;
            height: auto;
        }
    }

    /* RR section */
    .rr {
        height: 35px;

        p {
            font-size: 0.8rem;
            line-height: 2.5;
            margin-left: 10px;
        }
    }
}