* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#leftPanel {
    /*  background-image: url(visax-unsplash.jpg);
    background-size: cover; */
    background-color: black;
    width: 25%;
    height: fit-content;
    min-height: 100%;
    padding: 20px;
    flex-shrink: 0;
}

.bgShenanigans {
    align-content: flex-start;
}

#leftPanel>h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

#leftPanel>p {
    font-size: 1rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

#forme {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 2px;
}

input,
textarea {
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    font-size: 1rem;
}

textarea {
    height: 90px;
    resize: none;
}

input[type=color] {
    border: 0;
    cursor: pointer;
}

input[type=button] {
    color: white;
    background-color: mediumvioletred;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
}

input[id=addElementBtn]:hover {
    background-color: green;
}

input[id=resetInputsBtn]:hover {
    background-color: red;
}

input[id=saveInputsBtn] {
    background-color: grey;
}

input[id=refreshBtn]:hover {
    background-color: white;
    color: black;
}

#forme>label {
    font-size: 1rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}

#rightPanel {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /*     display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    width: 75%;
    max-width: 75%; */
}