:root {
    --bs-body-color: #011560;
    --bs-border-color: #D3E10E;
    /* --bs-primary-hex: #D3E10E */
    --bs-primary-rgb: 211, 225, 14;
    /* --bs-light-hex: #F6F6F6 */
    --bs-light-rgb: 246, 246, 246;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sekshane {
    height: 68vh;
    background-image: url(../images/night_img.png);
    background-size: cover;
    background-position: center bottom;
}