/* LANGUAGE ICONS */
.codeLang1 {
    width: 100vw;
    max-width: 100%;
    background-color: rgba(228, 228, 228, 0.5);
    box-shadow: 0px -10px 3px -3px #0000003d;
    backdrop-filter: blur(10px);
}

.codeLang {
    height: 100px;
    text-align: center;


    img {
        margin: 20px 10px;
        height: 60px;
    }
}

/* ABOUT ME SECTION */
#mainProjectImg {
    height: fit-content;
    padding: 150px 0;
    background-color: $bgcExtraLight;
    box-shadow: inset 0px 10px 10px -3px #0000003d;


    img {
        height: auto;
        display: block;
        margin: auto auto;
        box-shadow: 0px 0px 10px 5px #0000003d;
    }
}

/* RIGHTS RESERVED */
.rr {
    width: 100vw;
    max-width: 100%;
    height: 50px;
    background-color: black;
    margin: 0 auto;
}

.rr p {
    color: rgb(231, 227, 255);
}

.myname {
    font-family: $fontf;
    line-height: 2.5;
    float: left;
    margin-left: 20px;
    font-size: $fontSize;
}

.rrsymbol {
    float: right;
    font-size: $fontSize;
    font-family: sans-serif;
    line-height: 2.5;
    float: right;
    margin-right: 10px;
}